<div class="footer">
  <a target="_blank" href="https://primitivo336.sharepoint.com/:w:/s/Primitivo/Ec3xVNJqsUhFm0GnLWcRlkgBTtoptT86opkMNKg6m63Dcw?e=mkjSBn">{{
    i18nService.getByKey("nav.legal-notices", "fr")
  }}</a>
  |
  {{ i18nService.getByKey("nav.follow", "fr") }}
  <a target="_blank" href="{{ facebookLink }}"> <i class="link facebook big icon"></i></a>
  <a target="_blank" href="{{ primitivoLink }}">
    <img class="ui mini image" src="{{ primitivoLogo }}"
  /></a>
  <a target="_blank" href="{{ linkedinLink }}"
    ><i class="link linkedin alternate big icon"></i
  ></a>
  | Copyright &copy; 2021 - <a target="_blank" href="{{ copyrightLink }}">Valentin</a>
</div>
