
.footer {
  position:fixed;
  bottom: 1px;
  right: 1px;
  padding: 1.5em;
  a {
    color: black;
    text-decoration: underline;
  }
}

@media (min-width: 900px) {
  .footer {
    display: block;
  }
}

@media (max-width: 900px) {
  .footer {
    display: none;
  }
}
