
.footer {
  position:fixed;
  bottom: 1px;
  right: 1px;
  padding: 1em;
  background-color: #eaeaea !important;
  border-radius: 20px 0 0 0;
  a {
    color: black;
    text-decoration: underline;
  }
  img {
    display: inline;
    filter: contrast(0%)
  }
}

@media (min-width: 900px) {
  .footer {
    display: block;
  }
}

@media (max-width: 900px) {
  .footer {
    display: none;
  }
}
