#first-look {
  padding-top: 3em;
  padding-left: 50px;
  padding-right: 50px;
  h1.ui.header {
    font-size: 6em;
  }
  h2.sub.header{
    font-size: 3rem;
  }
  #store-links {
    img {
      margin: 1em;
    }
  }
}
