#first-look {
  padding-top: 3em;
  padding-left: 50px;
  padding-right: 50px;
  h1.ui.header {
    font-size: 100px;
  }
  h3.sub.header {
    font-size: 40px;
  }
  #store-links {
    padding-top:15px;
    img {
      margin: 1em;
    }
  }
  #main-row {
    padding-bottom: 0em !important;
  }
  #first-look-image {
    padding-bottom: 0px !important;
  }
}
