<div id="first-look">
  <div class="ui stackable grid">
    <div class="computer reversed row">
      <div class="seven wide column">
        <h1 class="ui header">
          {{ i18nService.getByKey("first-look.title", "fr") }}
          <h2 class="sub header">
            {{ i18nService.getByKey("first-look.description", "fr") }}
          </h2>
        </h1>
        <div id="store-links" class="ui centered grid">
          <div class="row">
            <a target="_blank" href="https://apps.apple.com/fr/app/circlebar/id1500311463?l=fr">
              <img class="ui small image" src="{{ appStore }}" />
            </a>
            <a target="_blank" href=" https://play.google.com/store/apps/details?id=com.primitivo.circlebar">
              <img class="ui small image" src="{{ googlePlay }}" />
            </a>
          </div>
        </div>
        <div class="ui centered grid">
          <app-features></app-features>
        </div>
      </div>
      <div id="first-look-image" class="nine wide column">
        <img class="ui massive image" src="{{ firstImage }}" />
      </div>
    </div>
  </div>
</div>