<div class="menu-bar">
  <div id="wide-menu" class="ui equal width grid">
    <div class="column">
      <a class="ui medium image" routerLink="/">
        <img src="{{ logo }}" />
      </a>
    </div>
    <div class="column">
      <div class="ui three item secondary pointing menu">
        <a
          class="item"
          routerLink="/team"
          [ngClass]="{ active: selectedPage === 'team' }"
        >
          <h1>{{ i18nService.getByKey("nav.team", "fr") }}</h1></a
        >
        <a
          class="item"
          routerLink="/images"
          [ngClass]="{ active: selectedPage === 'images' }"
        >
          <h1>{{ i18nService.getByKey("nav.images", "fr") }}</h1></a
        >
        <a
          class="item"
          routerLink="/contact"
          [ngClass]="{ active: selectedPage === 'contact' }"
        >
          <h1>{{ i18nService.getByKey("nav.contact", "fr") }}</h1></a
        >
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="ui equal width right aligned grid">
    <div class="column">
      <a class="ui medium image" routerLink="/">
        <img src="{{ logo }}" />
      </a>
    </div>
    <div class="column">
      <button (click)="showMenu()" class="ui icon secondary basic tiny button">
        <i class="bars large icon"></i>
      </button>
      <div class="ui basic modal">
        <div class="content">
          <div class="ui centered internally celled grid">
            <div class="row">
              <a
                (click)="hideMenu()"
                routerLink="/team"
                [ngClass]="{ active: selectedPage === 'team' }"
              >
                <h1>{{ i18nService.getByKey("nav.team", "fr") }}</h1></a
              >
            </div>
            <div class="row">
              <a
                (click)="hideMenu()"
                routerLink="/images"
                [ngClass]="{ active: selectedPage === 'images' }"
              >
                <h1>{{ i18nService.getByKey("nav.images", "fr") }}</h1></a
              >
            </div>
            <div class="row">
              <a
                (click)="hideMenu()"
                routerLink="/contact"
                [ngClass]="{ active: selectedPage === 'contact' }"
              >
                <h1>{{ i18nService.getByKey("nav.contact", "fr") }}</h1></a
              >
            </div>
            <div class="row">
              <div id="follow" class="ui centered grid">
                <h2>{{ i18nService.getByKey("nav.follow", "fr") }}</h2>
                <div id="links" class="row">
                  <a target="_blank" href="{{ facebookLink }}">
                    <i class="link facebook huge icon"></i
                  ></a>
                  <a  target="_blank"href="{{ primitivoLink }}">
                    <img class="ui tiny image" src="{{ primitivoLogo }}"
                  /></a>

                  <a  target="_blank"href="{{ linkedinLink }}"
                    ><i class="link linkedin alternate huge icon"></i
                  ></a>
                </div>
              </div>
              <div id="store-links" class="ui centered grid">
                <div class="row">
                  <a target="_blank" href="{{ appStoreLink }}">
                    <img class="ui small image" src="{{ appStore }}" />
                  </a>
                  <a target="_blank" href="{{ googlePlayLink }}">
                    <img class="ui small image" src="{{ googlePlay }}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <a (click)="hideMenu()" routerLink="/legal">{{
            i18nService.getByKey("nav.legal-notices", "fr")
          }}</a>
          | Copyright &copy; 2019 -
          <a target="_blank" href="{{ devOsudLink }}">Devosud</a>
        </div>
      </div>
    </div>
  </div>
  <div class="three wide column">
    <div *ngIf="false" class="ui buttons">
      <button class="ui button">
        FR
      </button>
      <button class="ui button">
        EN
      </button>
    </div>
  </div>
</div>
