<div id="images">
  <div id="images-grid" class="ui grid">
    <div id="mobile-title" class="row">
      <div class="left floated right aligned column">
        <h1 class="ui header">
          {{ selectedImageTitle }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="right aligned ten wide column">
        <div id="first-look-image" class="ui huge image">
          <img id="selected-image" [src]="_.find(images, selectedImageIndex)" />
        </div>
      </div>
      <div class="left aligned six wide column">
        <div id="wide-pagination" class="ui secondary pointing pagination menu">
          <a
            *ngFor="let image of imageNames; let i = index"
            (click)="setCorrectTransition(i)"
            class="item"
            [ngClass]="{ active: i === selectedImageIndex }"
          >
            {{ i + 1 }}
          </a>
        </div>
        <h1 id="wide-title" class="ui header">
          {{ selectedImageTitle }}
          <h2 class="sub header">
            {{ selectedImageDescription }}
          </h2>
        </h1>
        <h2 id="mobile-description" class="sub header">
          {{ selectedImageDescription }}
        </h2>
        <div id="cc">
          <h1>CC</h1>
        </div>
      </div>
    </div>
    <div id="mobile-pagination" class="centered row">
      <div class="ui secondary pointing pagination menu">
        <a
          *ngFor="let image of imageNames; let i = index"
          (click)="setCorrectTransition(i)"
          class="item"
          [ngClass]="{ active: i === selectedImageIndex }"
        >
          {{ i + 1 }}
        </a>
      </div>
    </div>
  </div>
</div>
